/* This is custom css section
Created by Phirom Yim
Course: Design for Web Standards II
Instructor: Kevin Imhoff*/

/* ========= B A S I C === S T Y L I N G ==== */
body {
    font-family: "Arial", helvetica, arial, sans-serif;
    color: #4d4d4d;
}
/* ===== Header, h1, h2, h3, h4, h5, p ==== S T Y L I N G ==== */

header h1 {
    padding: 5% 0 8% 0;
    text-align: center;
    margin: 0 auto;
    border-top: 2px dotted #cccccc;
}
header.row h1 {
    font: 5em "Cutive Mono";
}
.row h1 em {
    text-transform: lowercase;
    font: .5em "courier new";
}
footer > .container-fluid h4 {
    padding-bottom: 2%;
}
#story h2 {
    border-top: 2px solid #ccc;

}
.entry1 {
    border-bottom: 1px solid #ccc;

}
#story h2, .gallery h3 {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
    font-family: "Cutive Mono", arial, verdana, sans-serif;
    font-size: 1.8em;
    letter-spacing: 2px;

}
.entry1 p {
    font: 1.4em/1.5em "Oxygen", sans-serif;
}
.entry1 h3 {
    font-family: "cutive mono", arial, verdana, sans-serif;
    font-size: .8em;
}
.gallery h4 {
    font-family: "Cutive Mono", cursive;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 1%;
}
/* ===== C L A S S ==== S T Y L I N G ==== */

.navbar-form .navbar-right {
    width: 30%;
}

.container-fluid {
    font: 1em Arial, Helvetica, sans-serif;
}
.entry1 {
    padding: 1% 1% 5% 1%;
}
.gallery {
    margin: 0 auto;
    padding: 0 5% 0 5%;
}
.copy {
    color: #777;
    text-align: center;
}
.sl-social {
    padding: 0 0 2% 5%;
}
.navbar-static-top {
    padding: 3%;
}
.navbar-static-top ul {
    list-style-type: none;
    display: inline-flex;
}
/* ===== B L O C K Q U O T E ==== S T Y L I N G ==== */

blockquote {
    padding-bottom: 5%;
    border: none;
}
blockquote p {
    padding-top: 5%;
    font: 1.5em/2em "Courier New", sans-serif;
}
blockquote footer {
    background: none;
    border: none;
}
/* ===== F O O T E R ==== S T Y L I N G ==== */

footer {
    padding-bottom: 1%;
    color: #4d4d4d;
}

footer>.container-fluid {
    padding: 5% 3%;
    border-top: 2px dotted #cccccc;

}
.foot-head {
    padding: 0 0 1% 5%;

}
.foot-head h4 {
    font: 4em "Oxygen", sans-serif;
    letter-spacing: .02em;
}
.foot-head h4>em {
    font-weight: bold;
}

/* ===== L I S T & L I N K S ==== S T Y L I N G ==== */

nav {
    display: none;
}
.navbar-form .navbar-right {
    width: 30%;
}
nav.menu li a {
    padding-left: 3%;
    font-family: "cutive mono", helvetica, arial, sans-serif;
}
.pagination nav {
    display: inline-flex;
    padding-bottom: 10%;
    text-align: center;
}
.pager li a {
    color: #777;
    border: none;
    border-radius: 6px;

}
.nav.menu li a {
    color: #4d4d4d;
    text-transform: uppercase;
}
.nav.menu li:last-child {
    padding-right: 1.5%;
}
/* ===== F O R M == & == T A B L E ==== S T Y L I N G ==== */
form {
    padding-bottom: 15%;
}
form#contact {
    width:50%;
}
input#email {
    margin-top: 3%;
    margin-bottom: 3%;
}
button#message-btn {
    margin-top: 4%;
    background: #c0a16b;
    border: none;
    color: #fff;
}

/*==== img === S T Y L I N G ==== */
img {
    padding: 0;
    width: 100%;
}

/*==== T Y P O G R A P H Y === @FontFace ==== */

@font-face {
    font-family: "MyFontScript", "Amatic SC", cursive;
    src: local("Amatic SC");
    src: url(http://fonts.googleapis.com/css?family=Cutive+Mono);
}
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive Mono'), local('CutiveMono-Regular'),    url(http://fonts.gstatic.com/s/cutivemono/v4/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(http://fonts.gstatic.com/s/amaticsc/v6/DPPfSFKxRTXvae2bKDzp5LO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}