/* This is custom css section
Created by Phirom Yim
Course: Design for Web Standards II
Instructor: Kevin Imhoff*/

/* ========= B A S I C === S T Y L I N G ==== */
body {
    font-family: "Arial", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #4d4d4d;
}
/* ===== Header, h1, h2, h3, h4, h5, p ==== S T Y L I N G ==== */

header h1 {
    padding: 5% 0 5% 0;
    text-align: center;
    margin: 0 auto;
    border-top: 2px dotted #cccccc;

}
.jumbotron {
    margin: 0 auto;
    padding: 5% 5% 15% 10%;
    font: "Helvetica Neue", sans-serif;
    background: #fff;
}

header.row h1 {
    font: 5em "Cutive Mono";
}
.row h1 em {
    text-transform: lowercase;
    font: .5em "courier new";
}
footer > .container-fluid h4 {
    font-size: 2em;
    padding-bottom: 2%;
}
#story h2, .gallery h3 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Courier New", arial, verdana, sans-serif;
    font-size: 3em;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.entry1 p {
    font-family: "Poiret One", helvetica, arial, sans-serif;
    font-size: 2em;
}
/* ===== C L A S S ==== S T Y L I N G ==== */

.navbar-form .navbar-right {
    width: 30%;
}
footer > .container-fluid {
    padding: 1% 3%;
}
.container-fluid {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 1em;
}
.entry1 {
    padding: 2% 1% 15% 1%;
}
.gallery {
    padding-bottom: 15%;
    padding-top: 5%;
}
.copy {
    color: #777;
    text-align: right;
    padding-right: 3%;
}
.sl-social {
    padding: 0 0 2% 5%;
}
.navbar-static-top {
    padding: 3%;
}
.navbar-static-top ul {
    list-style-type: none;
    display: inline-flex;
}
blockquote {
    padding-bottom: 5%;
    border: none;
}
blockquote p {
    padding-top: 15%;
    font: 4em/2em "Courier New";
}
blockquote footer {
    background: none;
    border: none;
}
/* ===== F O O T E R ==== S T Y L I N G ==== */

footer {
    border-top: 2px dotted #cccccc;
    padding-bottom: 1%;
    color: #4d4d4d;
}
.foot-head {
    padding: 0 0 1% 5%;
}
.foot-head h4 {
    font: 4em "Raleway", san-serif;
}
.foot-head h4>em {
    font-weight: bold;
}

/* ===== L I S T & L I N K S ==== S T Y L I N G ==== */

nav {
    display: none;
}
.sl-social li {
    list-style-type: none;
    display: inline-flex;
    padding-left: 3%;
}
nav.menu li a {
    padding-left: 10px;
    font-family: "cutive mono", helvetica, arial, sans-serif;
}
ul.nav.menu {
    clear: both;
}
.nav.menu li a {
    color: #4d4d4d;
    text-transform: uppercase;
}
.nav.menu li:first-child {
}
.nav.menu li:last-child {
    padding-right: 1.5%;
}
/* ===== F O R M == & == T A B L E ==== S T Y L I N G ==== */
form {
    padding-bottom: 5%;
}
form#contact {
    width:50%;
}
input#email {
    margin-top: 3%;
    margin-bottom: 3%;
}
button#message-btn {
    margin-top: 4%;
    background: #c0a16b;
    border: none;
    color: #fff;
}

/*==== img === S T Y L I N G ==== */
img {
    padding: 0;
    width: 100%;
}

/*==== T Y P O G R A P H Y === @FontFace ==== */

@font-face {
    font-family: "Inconsolata", serif;
    src: url(http://fonts.googleapis.com/css?family=Inconsolata);
}
@font-face {
    font-family: "MyFontScript", "Amatic SC", cursive;
    src: local("Amatic SC");
    src: url(http://fonts.googleapis.com/css?family=Cutive+Mono);
}
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive Mono'), local('CutiveMono-Regular'),    url(http://fonts.gstatic.com/s/cutivemono/v4/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab'), local('JosefinSlab'), url(http://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";